@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Ubuntu', sans-serif;
}

.background{
    background: url('../image/wonka.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: -1;
    filter: blur(0);
}

.loadingNumber{
    font-size: 50px;
    color: white;
}